<ejs-chart style='display:block' align='center' id='chartcontainer' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
             [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [width]='width' [legendSettings]='legend'>
  <e-series-collection>
    <ng-container *ngFor="let chart of charts">
      <e-series [dataSource]='chart.data' type='Line' xName='x' yName='y' [name]="chart.label" width=2
                [marker]='circleMarker' opacity=1 [colorName]="chart.color"></e-series>
    </ng-container>
  </e-series-collection>
</ejs-chart>
