<div class="app-card">
  <!--View-->
  <div *ngIf="!edit">
    <p>{{this.data.label}}</p>
    <br/>
    <p>{{this.data.description}}</p>
    <div (click)="onEditClick()">
      <fa-icon [icon]="faPenToSquare"></fa-icon>
    </div>
  </div>

  <!--Edit-->
  <div *ngIf="edit">
    <input [(ngModel)]="this.data.label">
    <br/>
    <input [(ngModel)]="this.data.description">
    <br/>
    <fa-icon [icon]="faCheckSquare" (click)="onAppyEditChanges()"></fa-icon>
    <fa-icon [icon]="faSquareXmark" (click)="onDiscardEditChanges()"></fa-icon>
  </div>
</div>
